<nz-table
    class="products-list"
    #filterTable
    [nzData]="productsList"
    nzTableLayout="fixed"
    [nzFrontPagination]="true"
    [nzPageSize]="5"
    [nzBordered]="true"
    [nzLoading]="isLoading"
    [nzPageIndex]="pageIndex"
    (nzPageIndexChange)="onPageChanged($event)"
>
    <thead>
        <tr>
            <th
                *ngFor="let column of listOfColumns"
                [nzSortOrder]="column.sortOrder"
                [nzSortFn]="column.sortFn"
                [nzSortDirections]="column.sortDirections"
                [nzFilterMultiple]="column.filterMultiple"
                [nzFilters]="column.listOfFilter"
                [nzFilterFn]="column.filterFn"
            >
                {{ column.name }}
            </th>
        </tr>
    </thead>
    <tbody class="products-list-body">
        <tr *ngFor="let product of filterTable.data">
            <th>{{ product.id }}</th>
            <th>{{ product.name }}</th>
            <th>{{ product.brandName }}</th>
            <th>{{ product.brandId }}</th>
            <th class="products-list-body__availability">
                {{ product.availability }}
            </th>
        </tr>
    </tbody>
</nz-table>
